*{
    margin: 0;
    padding: 0;
}
body{
    background-color: white;
}
.box{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 30px;    
}
.date-container{
    margin-top: 20px;
    padding: 5px;
    border-radius: 5px;
    background-color: #07b1ef;
}
.date-display{
    background-color: #8ad4f0;
    color: black;
    font-size: 40px;
    padding: 10px;
}
.clock-container{
    background: black;
    padding: 5px;
    border-radius: 5px;
    border: 5px solid greenyellow; 
}
.clock{  
    position: relative;
    background:linear-gradient(90deg,#01ff01,#fcfc03,#ff01c4);
    border-radius: 5px;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    font-size: 60px;
    font-family: Orbitron;
    letter-spacing: 7px;
}