*{
    margin: 0;
    padding: 0;
}
body.theme-white{
    background-color: white;
    color: black;
}
body.theme-orange{
    background-color: #f4c9b7;
    color: #b64b1e;
}
body.theme-green{
    background-color: #c3e3c1;
    color: #5faf3b;
}
body.theme-blue{
    background-color: #bec7e7;
    color: #1e41c1;
}
body.theme-purple{
    background-color: #d0b7f4;
    color: #7582ae;
}
body.theme-black{
    background-color: #5c5c5c;
    color: #ffffff;
}
#nav-bar{
    display: flex;
    justify-content: space-around;
}
#nav-bar a{
    text-decoration: none;
    font-size: 20px;
}
#themes-selector-lbl{
    font-size: 20px;
}
#themes-selector{
    font-size: 15px;
}
/* TODO: Add other selectors as well, please. */
#theme-white-selector{
    background-color: white;
}
#theme-orange-selector{
    background-color: orange;
}
#theme-green-selector{
    background-color: green;
}
#theme-blue-selector{
    background-color: blue;
}
#theme-purple-selector{
    background-color: purple;
}
#theme-black-selector{
    background-color: black;
    color: white
}
#main-container{
    display: flex;
}
#left{
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#left a{
    text-decoration: none;
}
.acc-container{
    display: flex;
    gap: 10px;
    flex-direction: column;
}
.acc-container a{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
}
#demo-acc{
    display: none;
}
#down-acc{
    display: none;
}
#center{
    width: 60%;
}
/* TODO: Update background colors here please */
.theme-white{
    background-color: white;
    color: black;
}
.theme-orange{
    background-color: #f4dfd6;
    color: #b64b1e;
}
.theme-green{
    background-color: #c3e3c1;
    color: #5faf3b;
}
.theme-blue{
    background-color: #bec7e7;
    color: #1e41c1;
}
.theme-purple{
    background-color: #d0b7f4;
    color: #7582ae;
}
.theme-black{
    background-color: #5c5c5c;
    color: #ffffff;
}
/* TODO: Add anchor tag colors here please for remaining themes */
.theme-white a{
    color: black;
}
.theme-orange a{
    color: #b64b1e;
}
.theme-green a{
    color: #5faf3b;
}
.theme-blue a{
    color: #1e41c1;
}
.theme-purple a{
    color: #7582ae;
}
.theme-black a{
    color: #ffffff;
}
.theme-orange button{
    background-color: #f4c9b7;
    color: #b64b1e;
    padding: 5px;
    border: 1px solid #b64b1e;
}
.theme-green button{
    background-color: #c1f7be;
    color: #5faf3b;
    padding: 5px;
    border: 1px solid #5faf3b;
}
.theme-blue button{
    background-color: #d8def4;
    color: #1e41c1;
    padding: 5px;
    border: 1px solid #1e41c1;
}
.theme-purple button{
    border-color: #ecdfff;
    color: #7582ae;
    padding: 5px;
    border: 1px solid #7582ae;
}
.theme-black button{
    border-color: #333;
    color: #ffffff;
    padding: 5px;
    border: 1px solid #ffffff;
}
#right{
    width: 20%;
}
#footer{
    margin: 20px;
    display: flex;
    justify-content: space-around;
}
#footer-1 , #footer-2 , #footer-3{
    display: flex;
    flex-direction: column;
}
#footer-1 a, #footer-2 a, #footer-3 a{
    text-decoration: none;
}